body {
	background-image: url("/Users/ghelmer/Desktop/gracebhelmer.github.io/unit_4/images/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

h1, p, ul, li{
    color: black;
	font-family: 'Lato', sans-serif;
}

#slogan {
	font-style: italic;
}