body {
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url('../racebhelmer.github.io/unit_4/images/background.jpg');
}

h1, p, ul, li{
    color: black;
	font-family: 'Lato', sans-serif;
}

#slogan {
	font-style: italic;
}