body {
	background-color: #cdcdcd;
}

h1, p {
    color: white;
    font-family: font-family: 'Open Sans Condensed', sans-serif;
}

ul
li
img

#slogan {
	font-style: italic;
	font-family: 'Playfair Display', serif;
}